.navbar-header{
	font-size: 18px;
}
/*so kinda confused about the button, and the black strip for the nav...feel so lame*/
.btn btn-default{
  display: block;
  background: #5BD963;
  color: #5BD963;
}
body{

}
.form-inline{
	
}
